// Add personal reset font-size. 1rem = 10px.
html {
    font-size: 62.5%;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}


